-# user register view
.maul-user
  .container.d-flex.flex-column
    %h2.text-center.mt-4.mb-4= t('user.sign_up')

    .card
      .card-body.needs-validation.text-center
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .d-flex
            = devise_error_messages!
          .field
            = f.label I18n.t("user.email")
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label I18n.t("user.password") #for:'validationTooltip01'
            - if @minimum_password_length
              %em
                (mínimo #{@minimum_password_length} caracteres)
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .field
            = f.label I18n.t("user.confirm_password") #for:'validationTooltip01'
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .actions
            = f.submit I18n.t("user.create_account"), class: 'btn btn-dark'

      = render "devise/shared/links"
