.show-community
  %nav{"aria-label" => "breadcrumb"}
    .bg-bar-community
      .container
        %ol.breadcrumb
          %li.breadcrumb-item
            %a.link-white{:href => "/"}
              %i.fas.fa-home
          %li.breadcrumb-item
            %a.link-white{:href => communities_path}= t('base.communities')
          %li.breadcrumb-item.active{"aria-current" => "page"}= @community.name
  .container.text-center
    %p#notice= notice
    -# %h2.text-left= @community.name
    %h1.mt-3= @community.name
    %hr.mb-2
    .community-networks-section
      = networks_section @community
    .mt-3= image_tag(@community.picture, width: 200) if @community.picture.attached?
    %p
      %strong About:
      = @community.about
    %p
      %strong Address:
      = @community.address
    %p
      %strong Phone:
      = @community.phone
    %p
      %strong Email:
      = @community.email
    = link_to 'Edit', edit_community_path(@community)
    |
    = link_to 'Back', communities_path
