.maul-user
  .container.d-flex.flex-column
    %h2.text-center.mt-4.mb-4= t('user.forget_password')

    .card
      .card-body.needs-validation.text-center
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .actions
            = f.submit "Send me reset password instructions", class: 'btn btn-dark'
        = render "devise/shared/links"
