
.m.show-comuna
  .bg-bar-comuna
    .container
      %h3.strong Santiago de Cali
      %h1.text-left.font-weight-bold.link-dark= @comuna.name

  .tab-comunas.d-flex.justify-content-center
    %ul#tabComunasOp.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#data-tab.nav-link.active{"aria-controls" => "data", "aria-selected" => "true", "data-toggle" => "tab", :href => "#data", :role => "tab", class: 'link-dark'} Datos
      %li.nav-item
        %a#communities-tab.nav-link{"aria-controls" => "communities", "aria-selected" => "false", "data-toggle" => "tab", :href => "#communities", :role => "tab", class: 'link-dark'} Comunidades
      %li.nav-item
        %a#sites-tab.nav-link{"aria-controls" => "sites", "aria-selected" => "false", "data-toggle" => "tab", :href => "#sites", :role => "tab", class: 'link-dark'} Sitios
      %li.nav-item
        %a#events-tab.nav-link{"aria-controls" => "events", "aria-selected" => "false", "data-toggle" => "tab", :href => "#events", :role => "tab", class: 'link-dark'} Eventos

    %p#notice= notice

  .container
    #tabComunasOpContent.tab-content
      #data.tab-pane.fade.show.active{"aria-labelledby" => "data-tab", :role => "tabpanel"}
        / comuna image
        -# = image_tag "base/elements_svg/undraw_reminder_pa79.svg", alt: 'image ', width: '50%'
        %p.mt-5
          = @comuna.about
        .d-flex.justify-content-center
          = @comuna.map.html_safe
        -# = link_to 'Edit', edit_comuna_path(@comuna)

      #communities.tab-pane.fade{"aria-labelledby" => "communities-tab", :role => "tabpanel"}
        .mt-4
          - if @comuna.community.count > 0
            %p
              Estas son algunas de las comunidades que se reunen en la #{@comuna.name.downcase}
            .card-deck.d-flex.justify-content-center
              - @comuna.community.each do |c|
                .col-10.mt-5
                  .card.border-primary
                    .card-img-top= image_tag "deb9.jpg", alt: 'image', width: '100%'
                    .card-body
                      %h1.card-title=link_to c.name, "/communities/#{c.id}/", class: 'link-dark'
                      .card-text.text-justify= c.about.first(80) + '...'
                      %br
                      .text-right
                        .btn.btn-primary= link_to 'saber más', "/communities/#{c.id}/", class: 'link-white'
          - else
            %h1
              %em Lo sentimos, aún no se han registrado comunidades en la #{@comuna.name.downcase}

      #sites.tab-pane.fade{"aria-labelledby" => "sites-tab", :role => "tabpanel"}
        .mt-4
          - if @comuna.site.count > 0
            %p
              Sitios para visitar en la #{@comuna.name.downcase}
            .card-deck.d-flex.justify-content-center
              - @comuna.site.each do |s|
                .col-10.mt-5
                  .card.border-danger
                    .card-img-top= image_tag "deb9.jpg", alt: 'image', width: '100%'
                    .card-body
                      %h1.card-title=link_to s.name, "/sites/#{s.id}/", class: 'link-dark'
                      .card-text.text-justify= s.about.first(80) + '...'
                      %br
                      .text-right
                        .btn.btn-danger= link_to 'saber más', "/sites/#{s.id}/", class: 'link-white btn'
          - else
            %h1
              %em Lo sentimos, estamos actualizando los sitios más representativos de la #{@comuna.name.downcase}

      #events.tab-pane.fade{"aria-labelledby" => "events-tab", :role => "tabpanel"}
        .mt-4
          - if @comuna.event.count > 0
            %p
              %em Eventos en la #{@comuna.name.downcase}
            .card-deck.d-flex.justify-content-center
              - @comuna.event.each do |e|
                .col-10.mt-5
                  .card.border-success
                    .card-img-top= image_tag "deb9.jpg", alt: 'image', width: '100%'
                    .card-body
                      %h1.card-title=link_to e.name, "/events/#{e.id}/", class: 'link-dark'
                      .card-text.text-justify= e.description.first(80) + '...'
                      %br
                      .text-right
                        .btn.btn-success= link_to 'saber más', "/events/#{e.id}/", class: 'link-white btn'
          - else
            %h1
              %em Lo sentimos, aún no se registran eventos en la #{@comuna.name.downcase}
