.m.show-comuna
  %nav{"aria-label" => "breadcrumb"}
    .bg-bar-comuna
      .container
        %ol.breadcrumb
          %li.breadcrumb-item
            %a.link-dark{:href => "/"}
              %i.fas.fa-home
          %li.breadcrumb-item
            %a.link-dark{:href => '/'} Santiago de Cali
          %li.breadcrumb-item.active{"aria-current" => "page"}= @comuna.name

  .mt-3.d-flex.justify-content-center
    %ul#tabComunasOp.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#data-tab.nav-link.active{"aria-controls" => "data", "aria-selected" => "true", "data-toggle" => "tab", :href => "#data", :role => "tab", class: 'link-dark'} Datos
      %li.nav-item
        %a#communities-tab.nav-link{"aria-controls" => "communities", "aria-selected" => "false", "data-toggle" => "tab", :href => "#communities", :role => "tab", class: 'link-dark'}= t('base.communities')
      %li.nav-item
        %a#sites-tab.nav-link{"aria-controls" => "sites", "aria-selected" => "false", "data-toggle" => "tab", :href => "#sites", :role => "tab", class: 'link-dark'}= t('base.sites')
      %li.nav-item
        %a#events-tab.nav-link{"aria-controls" => "events", "aria-selected" => "false", "data-toggle" => "tab", :href => "#events", :role => "tab", class: 'link-dark'}= t('base.events')


  .container
    .content-by-comuna.col-12
      #tabComunasOpContent.tab-content
        -# show data
        #data.tab-pane.fade.show.active{"aria-labelledby" => "data-tab", :role => "tabpanel"}
          .col-12.mt-4
            %p
              .text-justify= @comuna.about
            #chart
            %br
            .d-flex.justify-content-center
              = @comuna.map.html_safe

        -# show communities
        #communities.tab-pane.fade{"aria-labelledby" => "communities-tab", :role => "tabpanel"}
          .mt-4
            - if @comuna.community.present?
              %p
                Estas son algunas de las comunidades que se reunen en la #{@comuna.name.downcase}
              -# .card-columns
              - @comuna.community.each do |c|
                .box-index.card.border-primary.p-2
                  .card-body.bg-card
                    - if c.picture.attached?
                      = image_tag c.picture
                    - else
                      = image_tag "https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/good_team_m7uu.svg"
                    =link_to c.name, "/communities/#{c.slug}/", class: 'card-title-communities'
            - else
              %h4
                %em Lo sentimos, aún no se han registrado comunidades en la #{@comuna.name.downcase}

        #sites.tab-pane.fade{"aria-labelledby" => "sites-tab", :role => "tabpanel"}
          .mt-4
            - if @comuna.site.present?
              %p
                Sitios para visitar en la #{@comuna.name.downcase}
              - @comuna.site.each do |s|
                .box-index.card.border-danger.p-2
                  .card-body.bg-card
                    - if s.picture.attached?
                      = image_tag s.picture
                    - else
                      = image_tag "base/elements_svg/undraw_reminder_pa79.svg"
                    =link_to s.name, "/sites/#{s.slug}/", class: 'card-title-sites'
            - else
              %h4
                %em Lo sentimos, estamos actualizando los sitios más representativos de la #{@comuna.name.downcase}

        #events.tab-pane.fade{"aria-labelledby" => "events-tab", :role => "tabpanel"}
          .mt-4
            - if @comuna.event.count > 0
              %p
                Que se hace en la #{@comuna.name.downcase}
              - @comuna.event.each do |e|
                .box-index.card.border-success.p-2
                  .card-body.bg-card
                    - if e.picture.attached?
                      = image_tag e.picture
                    - else
                      = image_tag "base/elements_svg/undraw_convert.svg"
                    =link_to e.name, "/events/#{e.slug}/", class: 'card-title-events'
            - else
              %h4
                %em Lo sentimos, aún no se registran eventos en la #{@comuna.name.downcase}
