-# show site mobile version
-# author: Johnny Zapata

.show-site
  .bg-bar-site
    .container
      %h2.text-left.link-white= @site.name

  -# .content-site
    / site image
    = image_tag "base/elements_svg/undraw_reminder_pa79.svg", alt: 'image '
    %p#notice= notice
  .container
    %p#notice= notice
    %h1.mt-3.text-left= @site.name
    %hr.mb-1
    .site-networks-section.mb-1
      %i
        = image_tag 'icons/webpage.svg'
      %i
        = image_tag 'icons/facebook.svg'
      %i
        = image_tag 'icons/instagram.svg'
      %i
        = image_tag 'icons/twitter.svg'
      %i
        = image_tag 'icons/youtube.svg'









-# ----------------------------------------------------
-# .show-site
  .bg-bar-site
    .container
      %h2.text-left.link-white= @site.name

  .container
    / site image
    = image_tag "base/elements_svg/undraw_reminder_pa79.svg", alt: 'image ', width: '50%'
    %p#notice= notice

    - missingData = []
    %p
      = @site.about
    .d-flex.justify-content-center
      %iframe{ src: @site.map.gsub(/<iframe src="|" width="400" height="300" frameborder="0" style="border:0" allowfullscreen><|iframe>/,""), width: '100%', height: '400px'}
    = link_to 'Edit', edit_site_path(@site)

    -# = verifyFields @site
    - if @site.address.present?
      %p
        %strong Dirección:
        = @site.address
    - else
      - missingData << @site.address

    - if @site.phone.present?
      %p
        %strong Teléfono de contacto:
        = @site.phone
    - else
      - missingData << @site.phone

    = link_to 'Edit', edit_site_path(@site)
    |
    = link_to 'Back', sites_path
