.bg-bar-site
  .container
    %h2.text-left.link-white= t('site.register_form')

.container.d-flex.flex-column
  .card
    .card-body.needs-validation.text-center
      - site = @site
      -# = form_for(model: site, local: true) do |form|
      = simple_form_for @site, url: new_site_path(@site) do |f|
        - if site.errors.any?
          #error_explanation
            %h2
              = pluralize(site.errors.count, "error")
              prohibited this site from being saved:
            %ul
              - site.errors.full_messages.each do |message|
                %li= message
        .form-group
          = f.label :name
          = f.input :name, label: false
        .form-group
          = f.label :address
          .form-control= f.text_field :address
        .field
          = f.label :map
          = f.text_field :map
        .field
          = f.label :phone
          = f.text_field :phone
        .field
          = f.label :about
          = f.text_area :about
        .field
          = f.label :community
          = f.collection_select :community_ids, Community.all, :id, :name
        .actions
          = f.submit
