-# mobile version for navbar menu
.m-main-menu
  .m-navbar.d-flex.justify-content-center
    .container.d-flex.justify-around
      .col-4.text-center.d-flex.align-items-center.justify-content-start
        = link_to '#', class: 'm-home-text', "data-toggle"=>"modal", "data-target"=>"#maulProjectModal" do
          %i.fa.fa-bars.fa-2x
      .col-4.text-center.d-flex.align-items-center
        .m-home-btn= link_to (image_tag 'base/maul_logo_red_blur.png'), '/', class: 'navbar-brand m-image-logo'
      .col-4.text-center.d-flex.align-items-center.justify-content-end
        - if user_signed_in?
          = link_to '', "data-toggle"=>"modal", "data-target"=>"#profileModal", class: 'm-home-text' do
            %i.fa.fa-user-edit.fa-2x
        - else
          =link_to '', class: 'm-home-text', "data-toggle"=>"modal", "data-target"=>"#accountModal" do
            %i.fa.fa-user.fa-2x


  / Modal for Maul Project menu
  #maulProjectModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "maulProjectModal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content.modal-menu
        .modal-header
          %h2#maulProjectModalTitle.modal-title Maul Project
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true", class: 'link-white'}
              %i.fa.fa-times.fa-2x
        .modal-body.d-flex.flex-column
          .btn-selection__communities.text-center
            = link_to t('mainmenu.communities'), communities_path, class: 'link-white'
          .btn-selection__sites.text-center
            = link_to t('mainmenu.sites'), sites_path, class: 'link-white'
          .btn-selection__events.text-center
            = link_to t('mainmenu.events'), events_path, class: 'link-white'
          -# .mt-auto.p-2.ml-auto
            -# = link_to t('mainmenu.about_maul'), '#', class: 'link-white'

  / Modal for profile
  #profileModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "profileModal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content.modal-menu
        -# .modal-header
          %h5#profileModalTitle.modal-title Modal title PROFILE
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.d-flex.flex-column
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true", class: 'link-white'}
              %i.fa.fa-times.fa-2x
          - if user_signed_in?
            .btn-selection__base.text-center
              = link_to 'Actualizar Perfil', edit_profile_path(current_user.profile.id), class: 'link-white'
            .btn-selection__base.text-center
              = link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'link-white'
            -# .mt-auto.p-2.ml-auto
              = link_to t('mainmenu.about_maul'), '#', class: 'link-white'

  / Modal for account
  #accountModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "profileModal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content.modal-menu
        .modal-body.d-flex.flex-column
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true", class: 'link-white'}
              %i.fa.fa-times.fa-2x
          .btn-selection__base.text-center
            =  link_to 'Registrarse', new_user_registration_path, class: 'link-white'
          .btn-selection__base.text-center
            = link_to 'Iniciar Sesión', new_user_session_path, class: 'link-white'
          -# .mt-auto.ml-auto.p-2
            = link_to t('mainmenu.about_maul'), '#', class: 'link-white'
