-# .bg-bar-community
  .container
    %h2.text-left.link-white
      = link_to t('base.communities'), communities_path, alt: 'index communities', class: 'link-white'
    -# %h2.text-left.link-white= t('community.register_form')

.container.d-flex.flex-column
  %br
  %h2.text-center Completa los campos para registrar una comunidad
  %br
  .card
    .card-body.needs-validation.text-center
      - community = @community
      -# = form_for(model: community, local: true) do |form|
      = simple_form_for @community do |f|
        - if community.errors.any?
          #error_explanation
            %h2
              = pluralize(community.errors.count, "error")
              prohibited this community from being saved:
            %ul
              - community.errors.full_messages.each do |message|
                %li= message
        .form-group
          %em
            .text-left= f.label 'Nombre de la comunidad'
          = f.input :name, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Describe a que se dedican como comunidad'
          = f.input :about, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Dirección de contacto'
          = f.input :address, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Teléfono'
          = f.input :phone, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Correo Electrónico'
          = f.input :email, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Sitio Web'
          = f.input :website, label: false

        %br
        .form-group
          %em
            .text-left= f.label 'Facebook'
          = f.input :facebook, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Instagram'
          = f.input :instagram, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Twitter'
          = f.input :twitter, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Youtube'
          = f.input :youtube, label: false

        %br
        .form-group
          %em
            .text-left= f.label 'Agrega una imagen representativa de la comunidad'
          = f.file_field :picture, label: false

        %br
        .form-group
          %em
            .text-left= f.label '¿A que comuna pertenece esta comunidad?'
          = f.input :comuna_id, collection: Comuna.all.collect, label: false
        %br
        -# .form-check
          %em
            .text-left= f.label 'Puedes seleccionar que comunidades se reunen en este lugar'
          %hr
          .col-10.thumbnail
            -# .form-check-input.position-static= f.input :community_ids, as: :check_boxes, collection: Community.all.collect, class: 'form-check-input position-static', label: false
          -# = f.select(:comuna_id, Comuna.all.collect {|a| [a.name, a.id]},{prompt: 'seleccione una comuna'},{} )
        .actions
          = f.submit 'Aceptar', class: 'btn btn-dark'
