-# .bg-bar-site
  .container
    %h2.text-left.link-white
      = link_to t('base.sites'), sites_path, alt: 'index sites', class: 'link-white'
    -# %h2.text-left.link-white= t('site.register_form')

.container.d-flex.flex-column
  %br
  %h2.text-center Completa los campos para registrar un nuevo sitio
  %br
  .card
    .card-body.needs-validation.text-center
      - site = @site
      -# = form_for(model: site, local: true) do |form|
      = simple_form_for @site, url: sites_path(@site) do |f|
        - if site.errors.any?
          #error_explanation
            %h2
              = pluralize(site.errors.count, "error")
              prohibited this site from being saved:
            %ul
              - site.errors.full_messages.each do |message|
                %li= message
        .form-group
          %em
            .text-left= f.label 'Nombre'
          = f.input :name, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Dirección'
          = f.input :address, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Mapa embebido de google'
          = f.input :map, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Teléfono'
          = f.input :phone, label: false
        %br
        .form-group
          %em
            .text-left= f.label 'Describe que se puede encontrar en este lugar'
          = f.input :about, label: false
        %br
        .form-check
          %em
            .text-left= f.label 'Puedes seleccionar que comunidades se reunen en este lugar'
          %hr
          .col-10.thumbnail
            .form-check-input.position-static= f.input :community_ids, as: :check_boxes, collection: Community.all, class: 'form-check-input position-static', label: false
          -# = f.input :community_ids, Community.all, :id, :name
        .actions
          = f.submit 'Crear Sitio', class: 'btn btn-dark'
