- client = DeviceDetector.new(request.user_agent)
- type = client.device_type == 'smartphone' ? 'smartphone' : 'base'

.sites
  .bg-bar-site
    .d-flex.justify-content-around.mt-2
      %h1.text-center= link_to t('base.sites'), sites_path, alt: 'index sites', class: 'link-white'
      %h1.text-center.link-white
        %em.fa.fa-map-marked-alt
        %em= link_to t('site.register_a_site'), new_site_path, class: 'btn link-white'
  %p#notice= notice

  .d-flex.justify-content-center
    %ul#tabSites.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#all-tab.nav-link.active{"aria-controls" => "all", "aria-selected" => "true", "data-toggle" => "tab", :href => "#all", :role => "tab"} Todos
      %li.nav-item
        %a#category-tab.nav-link{"aria-controls" => "category", "aria-selected" => "false", "data-toggle" => "tab", :href => "#category", :role => "tab"} Categorías
      %li.nav-item
        %a#comunas-tab.nav-link{"aria-controls" => "comunas", "aria-selected" => "false", "data-toggle" => "tab", :href => "#comunas", :role => "tab"} Comunas

  = render "sites/#{type}/index"
