!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "turbolinks-visit-control", :content => "reload"}
    %title Maulproject
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'base/maulproject.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    - client = DeviceDetector.new(request.user_agent)
    - type = client.device_type == 'smartphone' ? 'smartphone' : 'base'
    = render "shared/#{type}/navbar"
    / <p class="alert alert-success"><haml_loud> notice </haml_loud></p>
    - if alert
      %p.alert.alert-danger= alert
    = yield
    = render "shared/#{type}/footer"
