<!DOCTYPE html>
<html>
  <head>
    <title>Maulproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- client = DeviceDetector.new(request.user_agent) %>
    <%- type = client.device_type == 'smartphone' ? 'smartphone' : 'base' %>
    <%= render "shared/#{type}/navbar" %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
